.background    { background-image: url(../images/bigbackground.jpg);
                 table-layout: fixed;
                 border-spacing: 0;
                 background-size: 40%;	}
.background td { padding: 0;          }
.lava          { background: blue; }
.wall          { background: brown;   }
.floater       { background: yellow;   }
.spike         {background: silver;    }
.turbo         {background: red;       }

.actor	{position: absolute;}
.player	{background: white;}
.dead	{background: orange;}
.coin	{background: yellow;}
.enemy  {background: black}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

html { 
  background: url(images/zelda.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.lost .player {
  background: rgb(0, 255, 0);
}
.won .player {
  box-shadow: -4px -7px 8px gold, 4px -7px 8px gold;
}